<!DOCTYPE html>
<html>

<head>
    <title>Email Verification</title>
    <style>

    </style>
</head>

<body>
    <div class='fullscreenDiv'>
        <div class="center">
            <b><%-data%></b>
        </div>
    </div>
</body>

</html>